<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591848349069-1rr4pdqpv5f6udgm5la4eqikkar9d2q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591848349069-1rr4pdqpv5f6udgm5la4eqikkar9d2q8</string>
	<key>API_KEY</key>
	<string>AIzaSyBDGj0zWJcj1Fvr0BIK3dCaDvU9clAMsS0</string>
	<key>GCM_SENDER_ID</key>
	<string>591848349069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-app-a5140</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-a5140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591848349069:ios:b5f1d9eb7fd7d6a8ac71c4</string>
</dict>
</plist>